h1{color:#FOAO5O;}

th,td{border: groove thick black;}

th.important{color: red;}

p.sample1{border: double 1Opx #OOOOff;}
p.sample2{border: inset 1Opx #ffOOOO;}
p.sample3{margin: 3Opx 3Opx;padding: 1Opx;bordeer: medium solid #ffOOff;}
